doctype
html
	head
		meta(charset="utf8")
		title= course + ' | '+ title
		script(src="./lesson.js")
		link(rel='stylesheet', href='./style.css')
	body(onload='init()')
		div.lesson-path#local-path(style='visibility: hidden')= path.local
		div.lesson-path#remote-path(style='visibility: hidden')= path.remote
		canvas#drawing-board
		div.lessons-container#writing-board
			div.concept-buttons
				each val, index in concepts
					button.concept-btn.concept(concept= index, onclick='switchConcept(' + index + ')')= index + '. '+ val[0]
			each notes, index in concepts
				div.prep-group
					each note  in notes
						if note.type == "text"
							div.prep.note(concept= index)= note.text
						if note.type == "url"
							div.prep.note(concept= index)
								a(href= note.url)= note.text
						if note.type == "img"
							div.prep.note(concept= index)
								img(src= note.src)
		div.interface-buttons
			button.lesson-btn.toggle-draw(onclick="toggleDraw()") draw
			button.lesson-btn.clear-board(onclick="clearBoard()") clear
			button.lesson-btn.exit-lesson(onclick="exitLesson()") exit
			button.lesson-btn.save-session(onclick="saveSession()") save
