doctype
html
	head
		meta(charset="utf8")
		title= subject.name + ' | '+ name
		style
			include includes/export.css
	body
		header
			h1.topic-name= name
			h1.subject-name
				a(href="index.html")= subject.name
		div.concept-nav
			h1 summary
			each concept in concepts
				ul
					a.web-only(href= '\#'+concept.name)= concept.name
					li.print-only= concept.name
			br
			div.break-after(style="page-break-after:always;")
		each concept, index in concepts
			div.concept-group
				h3.concept-name(id= concept.name)= concept.name
				div.concept-context= concept.context.text
				each page in concept.pages
					div.page-group
						h3.page-name= page.name
						each prep in page.preps
							if prep.type == "txt"
								div.prep.note(concept= index)= prep.text
							if prep.type == "url"
								div.prep.note(concept= index)
									a(href= prep.url)= prep.text
							if prep.type == "img"
								div.prep.note(concept= index)
									img(src= subject.name+'_assets/'+prep.name, alt= prep.name)
							if prep.type == "vid"
								div.prep.note(concept= index)
									video(width="auto", height="auto", controls)
										source(src= 'assets/'+prep.name)
					div.note-group
						each note in page.notes
							div.prep.note(concept= index)= note.text
							
					div.writeup-group
						div.prep.writeup(concept= index)= page.writeup.text
			br
			div.break-after(style="page-break-after:always;")
