doctype
html
	head
		meta(charset="utf8")
		title= course.name + ' | '+ name
		link(rel='stylesheet', href='style.css')
	body
		header
			h2
				a(href="index.html")= course.name
			h3= name
		main
			div.lessons-container#writing-board
				div.concept-buttons
					//- each val, index in contents
						//button.lesson-btn.concept(concept= index, onclick='switchConcept(' + index + ')')= index + '. '+ val[0]
				each content, index in concepts
					div.concept-group
						h3.concept-name= content.concept
						div.concept-group
							each prep in content.prep
								if prep.type == "txt"
									div.prep.note(concept= index)= prep.text
								if prep.type == "url"
									div.prep.note(concept= index)
										a(href= prep.url)= prep.text
								if prep.type == "img"
									div.prep.note(concept= index)
										img(src= 'assets/'+prep.name)
								if prep.type == "vid"
									div.prep.note(concept= index)
										video(width="auto", height="auto", controls)
											source(src= 'assets/'+prep.name)
						div.note-group
							each note in content.notes
								div.prep.note(concept= index)= note
								
						div.writeup-group
							each writeup in content.writeups
								div.prep.writeup(concept= index)= writeup
					hr
